.main {
  width: 600px;
  background-color: rgb(237, 225, 225);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.operand-input {
  display: flex;
  flex-direction: column;
}

.operand-input input {
  border: none;
  outline: none;
  direction: rtl;
  color: white;
  height: 70px;
  background-color: gray;
  padding-right: 10px;
  font-size: 30px;
}

.buttons {
  display: flex;
  height: 500px;
}

.buttons .left-section {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons .left-section > * {
  padding: 10px 25px;
  border: 1px solid lightgray;
  font-size: 28px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .left-section .zero {
  grid-column: 1 / span 2;
}

.buttons .right-section {
  flex: 1;
  display: grid;
  flex-direction: column;
}

.buttons .right-section > * {
  padding: 10px 25px;
  background-color: orange;
  border: 1px solid lightgray;
  font-size: 28px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
