.main-section {
  display: flex;
}

.main-section h2 {
  margin: auto;
  color: green;
  font-family: cursive;
}

.main {
  width: 500px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.operand-input {
  display: flex;
  flex-direction: column;
}

.operand-input {
  border: none;
  outline: none;
  text-align: right;
  padding-top: 10px;
  color: white;
  height: 60px;
  background-color: gray;
  padding-right: 10px;
  font-size: 40px;
}

.buttons {
  display: flex;
  height: 400px;
}

.buttons .left-section {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.buttons .left-section > * {
  padding: 10px 25px;
  border: 1px solid lightgray;
  font-size: 28px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .left-section .zero {
  grid-column: 1 / span 2;
}

.buttons .right-section {
  flex: 1;
  display: grid;
  flex-direction: column;
}

.buttons .right-section > * {
  padding: 10px 5px;
  background-color: orange;
  border: 1px solid lightgray;
  font-size: 28px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation section */

.nav {
  padding: 0 5%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  margin-bottom: 4rem;
}

.nav h1 {
  font-size: 27px;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  list-style: none;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
}

.nav-ul li:not(:last-child) {
  border-right: 1px #0166ff solid;
}

.nav-ul li a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-ul li a:hover {
  color: green;
}

/* home page */

.home {
  margin: auto;
  width: 70%;
}

.home h2 {
  margin-bottom: 50px;
  font-size: 25px;
  text-align: center;
}

.home p {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

/* quote */

.quote {
  margin: auto;
  margin-top: 200px;
}

.quote p {
  font-size: 20px;
  font-family: cursive;
}
